<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demodesign">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoDesign">
        <activity
            android:name=".UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.DemoDesign.NoActionBarAndStatusBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.DemoDesign.NoActionBar" />
        <activity
            android:name=".LoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.DemoDesign.NoActionBarAndStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.DemoDesign.NoActionBarAndStatusBar" />
    </application>

</manifest>